<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:10px; word-wrap:break-word; }
		.col-sm-12{
			border: 1px solid black;
			height: 350px;
			margin-left: 5px;

		}
		#nav{
			margin-left: 1083px;
			margin-top:10px;
			margin-bottom:10px;
		}

	</style>
</head>
<body>
<div class="container">
<a href="/logout" class="btn btn-default btn-sm" id="nav">Logout</a>
<div class="bod">

		<div class="col-sm-12">

		</div>

</div>




</div>
</body>
</html>
