<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:10px; }
		#nav{
			text-align: right;
			margin-right: 20px;
		}
		#want{
			margin-left: -820px;
		}
		.jumbotron{
			background: none;
			margin-top: 250px;
		}
		#log{
			margin-left: 10px;
		}
	</style>
</head>
<body>
<div id="nav" >
		<a href="/signup" class="btn-default">Signup</a>
		<a href="/login" class="btn-default" id="log">Login</a>


</div>



<div class="container">

	<div class="jumbotron text-center">
	
		<a href="/signupwork" id="want" class="btn btn-default">I want to hire</a>
		<a href="/signup"  class="btn btn-default">I want to work</a>
		
	</div>

</div>
</body>
</html>